body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin: 0;
  background-color: #ffffff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 156px;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.logo .web {
  color: #4d5ae5;
}

.logo .studio {
  color: #2e2f42;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav a {
  text-decoration: none;
  color: #2e2f42;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  position: relative;
}

.site-nav a:hover {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -28px;
}
.site-nav a:first-child:active {
  color: #404bbf;
}

.site-address {
  display: flex;
  gap: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02px;
  color: inherit;
}

.site-address a {
  text-decoration: none;
  color: inherit;
  margin: 0 8px;
}

.site-address a:hover,
.site-address a:focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio1 {
  width: 100%;
  max-width: 1440px;
  height: 600px;
  text-align: center;
  padding: 120px 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
}

.studio1-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  font-style: bold;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  text-align: center;
  width: 496px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  font-style: medium;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button:focus,
.button:hover {
  background-color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  padding: 120px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}

.features li {
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin: 0 1%;
  text-align: left;
}

.features h3 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features p {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.icon {
  border: 1px solid #8e8f99;
  border-radius: 2%;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
}
.team {
  text-align: center;
  padding: 120px 24px;
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700px;
  font-style: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
  margin: 0 0 72px 0;
}
.team-list {
  display: flex;

  justify-content: center;
  gap: 24px;
  list-style: none;
}

.team1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  text-align: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.team1 h3 {
  font-size: 20px;
  margin: 32px 65px 8px 65px;
  font-weight: 600;
  font-style: bold;
}

.team p {
  margin: 0 64px 32px 64px;
  color: #434455;
  font-size: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.social-icon {
  fill: #f4f4fd;
}
.portfolio {
  background: #fff;
  text-align: center;
  padding: 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.portfolio-list li:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list li {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list img {
  max-width: 100%;
  display: block;
  height: auto;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-overlay .overlay-text {
  margin: 0;
  color: #f4f4fd;
}
.portfolio-list li:hover .card-overlay {
  transform: translateY(0);
}
.portfolio-list h3 {
  font-size: 20px;
  margin: 32px 0 0 16px;
  text-align: left;
}
.portfolio-list p {
  color: #434455;
  margin: 8px 0 32px 16px;
  text-align: left;
}
.site-footer {
  background: #2e2f42;
  padding: 100px 156px;
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.site-footer .logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.site-footer .web {
  color: #4d5ae5;
}

.site-footer .studio {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #ffffff;
}
